body {
   background-color: rgb(179, 211, 239);
}
h1 {
    text-align: center;
    height: 40px;
}

.content {
    border: 2px solid #66c06f;
    border-radius: 3px;
}

#id {
    padding: 0px;
}

.element {
    background-color: #0001;
    }
    .element:hover {
    background-color: rgb(241, 176, 176);
    }
    
a:hover {
    color: #ffa38c;
}
