body {
   background-color: rgb(179, 211, 239);
}
h1 {
    text-align: center;
    height: 40px;
}


.intro{
    text-align: center;
}


.column {
    text-align: center;
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.content {
    border: 2px solid #66c06f;
    border-radius: 3px;
}

#id {
    padding: 0px;
}

.element {
    background-color: #0001;
    }
    .element:hover {
    background-color: rgb(241, 176, 176);
    }
    
a:hover {
    color: #ffa38c;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
