body {
   background-color: rgb(179, 211, 239);
}
h1 {
    text-align: center;
    height: 40px;
}

.content {
    border: 2px solid #66c06f;
    border-radius: 3px;
}

#id {
    padding: 0px;
}

a:hover {
    color: #ffa38c;
}
